<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Factory Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='factory_style.css') }}">
</head>
<body>
    <h1>Производственный Контроль</h1>
    {% if session.user_email %}
        <p><a href="{{ url_for('factory_dashboard') }}">Главная</a>
        {% if not session.is_admin %}
            | <a href="{{ url_for('factory_create_task') }}">Создать задачу</a>
        {% endif %}
        | <a href="{{ url_for('logout') }}">Выйти</a></p>
    {% endif %}
    <hr>
    {% block content %}{% endblock %}
</body>
</html>
